<div id="buzz-target-plugin">
<section class="content featured">
    <div class="clearfix">
        <div class="featured-property-title theme-bg {{broker_listings_class}}">
            {{broker_listings_title}}
        </div>

        <div class="grid-view">

            {% if trans.search_error %}
            <div id="bt-search-error">
                <p>{{trans.search_error}}</p>
            </div>
            {% endif %}

            <div class="banner broker-slider">
                <ul>

                    {% for part_properties in listings %}
                        <li>
                        {% for property in part_properties %}
                            {# URL to property page #}
                            {% set propertyURLDashed = properties_url ~ '/' ~ property.wp_page_id ~ '/' ~ property.ListingId ~ '-' ~ property.Property.PropertyName|trim|replace(' ', '-') %}
                            <div class="list-item">
                                <div class="image">
                                    <a href="{{propertyURLDashed}}">
                                        {% if property.ListingImages.0.AttachmentPath is defined %}
                                        <img src="{{property.ListingImages.0.AttachmentPath}}" style="height:270px!important">
                                        {% else %}
                                        <img src="http://placehold.it/270x270">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="item-info">
                                    <div class="clearfix">
                                        <div class="main-info">
                                            {% if property.ListingType is sameas('ForLease') %}
                                            <h4>For Lease</h4>
                                            {% elseif property.ListingType is sameas('ForSale') %}
                                            <h4>For Sale</h4>
                                            {% endif %}
                                            <h3 class="theme-color">
                                                <a href="{{propertyURLDashed}}">
                                                    {{property.Property.PropertyName}}
                                                </a>
                                            </h3>
                                            <p class="address"><i>{{ property.Property.Address.Address }}</i></p>
                                            <p class="address">
                                                <i>
                                                    {{ property.Property.Address.City }},
                                                    {{ property.Property.Address.State }}
                                                    {{ property.Property.Address.Zip }}
                                                </i>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <script src="//unslider.com/unslider.min.js"></script>
            <script>
                jQuery('.broker-slider').unslider({
                    speed: 500,               //  The speed to animate each slide (in milliseconds)
                    delay: false,              //  The delay between slide animations (in milliseconds)
                    complete: function() {},  //  A function that gets called after every slide animation
                    keys: true,               //  Enable keyboard (left, right) arrow shortcuts
                    dots: true,               //  Display dot navigation
                    fluid: true              //  Support responsive design. May break non-responsive designs
                });
            </script>

        </div>
    </div>
</section>
</div>