<section class="content">
    <div class="search">
        {# Any search result messages will be displayed here #}
        {% if trans.search_error %}
        <div id="bt-search-error">
            <p>{{trans.search_error}}</p>
        </div>
        {% endif %}
        {% set mapProperties = [] %}
        {% for key, property in listings %}
        {% set propertyURLDashed = property_url ~ '/' ~ property.Property.PropertyName|replace(' ', '-') ~ '/' ~ property.ListingId  %}
        {% set mapProperties = mapProperties|merge([key,
            {
                    propertyLat : property.Lat|e,
                    propertyLon : property.Lon,
                    propertyAddress : property.Property.Address.Address,
                    propertyCity : property.Property.Address.City,
                    propertyState : property.Property.Address.State,
                    propertyZip : property.Property.Address.Zip,
                    propertyType: property.ListingType,
                    propertyImage : property.ListingImages.0.AttachmentPath,
                    propertyName : property.Property.PropertyName,
                    propertyStatus : property.Status,
                    propertyDetails : propertyURLDashed,
                }
            ])
        %}
        {% endfor %}
        {% if show_filter_form is sameas('on') %}
        <div class="clearfix">
            <div class="search-map">
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
                <script>
                    var properties = {{ mapProperties|json_encode()|raw }} ;
                    if (properties)
                    {
                        function initialize()
                        {
                            var mapOptions,
                                    map,
                                    markers = [],
                                    propertyWindow = new google.maps.InfoWindow({
                                        content: ''
                                    });
                            var mapInitialized = false;
                            for (var i = 0; i < properties.length; i++)
                            {
                                if (properties[i].propertyLat && properties[i].propertyLon)
                                {
                                    if (!mapInitialized )
                                    {
                                        mapOptions = {
                                            zoom: 10,
                                            center: new google.maps.LatLng(properties[i].propertyLat, properties[i].propertyLon),
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        };
                                        map = new google.maps.Map(document.getElementById('bt-map-canvas'), mapOptions);
                                        mapInitialized = true;
                                    }

                                    var propertyWindowContent = '<div class="bt-gm-property-window">' +
                                            '<p>';
                                    var propertyType;
                                    if (properties[i].propertyType === 'ForSale')
                                    {
                                        propertyType = 'For Sale'
                                    }
                                    else if (properties[i].propertyType === 'ForLease')
                                    {
                                        propertyType = 'For Lease'
                                    }
                                    propertyWindowContent = propertyWindowContent + propertyType +
                                            '</p>' +
                                            '<div class="bt-gm-property">' +
                                            '<div class="bt-gm-property-image">' +
                                            '<img src="' + properties[i].propertyImage + '" />' +
                                            '</div>' +
                                            '<div class="bt-gm-property-details">' +
                                            '<p>' +
                                            '<a href="' + properties[i].propertyDetails + '" class="bt-gm-link">' +
                                            properties[i].propertyName +
                                            '</a>' +
                                            '</p>' +
                                            '<p>' +
                                            properties[i].propertyAddress +
                                            '</p>' +
                                            '<p>' +
                                            properties[i].propertyCity + ', ' +
                                            properties[i].propertyState + ' ' +
                                            properties[i].propertyZip +
                                            '</p>' +
                                            '<p>' +
                                            'Status: ' + properties[i].propertyStatus +
                                            ' | <a href="' + properties[i].propertyDetails + '" class="bt-gm-link">Details</a>' +
                                            '</p>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';

                                    var marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(properties[i].propertyLat, properties[i].propertyLon),
                                        map: map,
                                        title: properties[i].propertyAddress + "\n" +
                                                properties[i].propertyCity + ', ' +
                                                properties[i].propertyState + ' ' +
                                                properties[i].propertyZip
                                    });

                                    google.maps.event.addListener(marker, 'click', (function(marker, propertyWindowContent) {
                                        return function () {
                                            propertyWindow.setContent(propertyWindowContent);
                                            propertyWindow.open(map, marker);
                                        }
                                    })(marker, propertyWindowContent));
                                }
                            }
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);
                    }
                </script>
                <div id="bt-map-canvas" class="map" style="margin:0px; padding: 0px;"></div>
            </div>
            {% include 'advanced-search-form.twig' %}
        </div>
        {% endif %}
    </div>
</section>
<section class="content sort">
    <div class="clearfix">
        {% if show_sort_by is sameas('on') %}
        <div class="select-group">
            <label for="sortBy">Sort By:</label>
            <select name="sortBy" id="sortBy">
                <option {% if default_sort_by is sameas('price_a_z') %} selected="selected"{% endif %} value="price_a_z">Price A to Z</a></option>
                <option {% if default_sort_by is sameas('price_z_a') %} selected="selected"{% endif %} value="price_z_a">Price Z to A</option>
                <option {% if default_sort_by is sameas('date_a_z') %} selected="selected"{% endif %} value="date_a_z">Date A to Z</option>
                <option {% if default_sort_by is sameas('date_z_a') %} selected="selected"{% endif %} value="date_z_a">Date Z to A</option>
                <option {% if default_sort_by is sameas('size_a_z') %} selected="selected"{% endif %} value="size_a_z">Size A to Z</option>
                <option {% if default_sort_by is sameas('size_z_a') %} selected="selected"{% endif %} value="size_z_a">Size Z to A</option>
                <option {% if default_sort_by is sameas('broker_a_z') %} selected="selected"{% endif %} value="broker_a_z">Broker A to Z</option>
                <option {% if default_sort_by is sameas('broker_z_a') %} selected="selected"{% endif %} value="broker_z_a">Broker Z to A</option>
                <option {% if default_sort_by is sameas('county_a_z') %} selected="selected"{% endif %} value="county_a_z">Country A to Z</option>
                <option {% if default_sort_by is sameas('county_z_a') %} selected="selected"{% endif %} value="county_z_a">Country Z to A</option>
            </select>
        </div>
        {% endif %}
        {% if allow_listing_per_page_change is sameas('on') %}
        <div class="select-group pull-right">
            <label for="listCount">Listings Per Page:</label>
            <select name="limit_per_page" id="listCount">
                <option {% if listing_per_page is sameas('12') %} selected="selected"{% endif %} value="12">12</option>
                <option {% if listing_per_page is sameas('30') %} selected="selected"{% endif %} value="30">30</option>
                <option {% if listing_per_page is sameas('60') %} selected="selected"{% endif %} value="60">60</option>
            </select>
        </div>
        {% endif %}
    </div>
</section>

<section class="content">
    <div class="clearfix">
        <div class="list-view">
            {% for property in listings %}
                {# URL to property page #}
                {% set propertyURLDashed = properties_url ~ '/' ~ property.Property.PropertyName|replace(' ', '-') ~ '/' ~ property.ListingId %}
                <div class="list-item">
                    <div class="image">
                        <a href="{{propertyURLDashed}}">
                            {% if property.ListingImages.0.AttachmentPath is defined %}
                            <img src="{{property.ListingImages.0.AttachmentPath}}">
                            {% else %}
                            <img src="http://placehold.it/200x200">
                            {% endif %}
                        </a>
                    </div>
                    <div class="item-info">
                        <div class="clearfix">
                            <div class="main-info">
                                {% if property.ListingType is sameas('ForLease') %}
                                    <h4>For Lease</h4>
                                {% elseif property.ListingType is sameas('ForSale') %}
                                    <h4>For Sale</h4>
                                {% endif %}
                                <h3 class="theme-color">
                                    <a href="{{propertyURLDashed}}">
                                        {{property.Property.PropertyName}}
                                    </a>
                                </h3>
                                <p class="address"><i>{{ property.Property.Address.Address }}</i></p>
                                <p class="address">
                                    <i>
                                        {{ property.Property.Address.City }},
                                        {{ property.Property.Address.State }}
                                        {{ property.Property.Address.Zip }}
                                    </i>
                                </p>
                                <p class="broker-name">Broker Name</p>
                            </div>
                            <div class="price theme-color">
                                {% if property.PropertyPrice is defined %}
                                ${{ property.PropertyPrice|number_format(2, '.', ',') }}
                                {% endif %}
                            </div>
                        </div>
                        <p class="description">{{property.PropertyDescription}}<a href="{{propertyURLDashed}}">Read More</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{# Pagination #}
{% include 'pagination.twig' %}